<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.google.unity.ads">
  <uses-sdk android:minSdkVersion="23" />
  <uses-permission android:name="android.permission.INTERNET" />
  <application>
    <uses-library android:required="false" android:name="org.apache.http.legacy" />
    <!-- APPLICATION_ID는 Assets/Plugins/Android/AndroidManifest.xml 에만 둔다( SortingAdMobIds 과 동일 값). 여기 두면 merge 충돌. -->
    <meta-data android:name="com.google.unity.ads.UNITY_VERSION" android:value="6000.0.72f1" />
    <meta-data android:name="com.google.android.gms.ads.APPLICATION_ID" android:value="ca-app-pub-3940256099942544~3347511713" />
  </application>
</manifest>